<!-- Main navigation -->
<div class="container-fluid mt-3 mb-5">
  
  <!-- Full Page Intro -->
  <section>
    <!-- Mask & flexbox options-->
    <div class="mask d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container py-5 my-5">
        
        <h3 class="font-weight-bold text-center text-dark pb-2">Start Your 30-day trial</h3>
        <p class="lead text-center text-dark pt-2 mb-5">Start to explore our product absolutely free.</p>
        
        <!--Grid row-->
        <div class="row d-flex align-items-center justify-content-center">
          <!--Grid column-->
          <div class="col-md-6 col-xl-5">
            <!--Form-->
            <form action="/user/register" method="post">
            <div class="card">
              <div class="card-body z-depth-2 px-4">
                <div class="md-form mt-3">
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" value="{{fullName}}" name="fullName" id="fullName" class="form-control" required>
                  <label for="fullName">Your name</label>
                </div>
                <div class="md-form">
                  <i class="fa fa-envelope prefix grey-text"></i>
                  <input type="email" value="{{email}}" name="email" id="email" class="form-control" required>
                  <label for="email">Your email</label>
                </div>
                <div class="md-form">
                  <i class="fas fa-key prefix grey-text"></i>
                  <input type="password" value="{{password}}" name="password" id="password" class="form-control" required>
                  <label for="password">Your password</label>
                </div>
                   <div class="md-form">
                  <i class="fas fa-key prefix grey-text"></i>
                  <input type="password" value="{{cPassword}}" name="cPassword" id="cPassword" class="form-control" required>
                  <label for="cPassword">Confirm password</label>
                </div>
                <div class="text-center my-3">
                  <button type="submit" class="btn btn-info btn-block">Get Started</button>
                </div>
              </div>
            </div>
           </form>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </section>
  <!-- Full Page Intro -->
  
</div>
<!-- Main navigation -->
